{%extends 'main/base.html'%}
{%load static%}
{%block content%}
<div class="centerContainer">
      <h2>Reset password</h2>
      {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      <form method="post">
        {%csrf_token%}
          New password: <input type="password" name="password1"><br><br>
            Repeat new password: <input type="password" name="password2"><br><br>
          <input type="submit" value="Send">
      </form>
</div>
{%endblock%}