{%extends 'main/base.html'%}
{%load static%}
{%block content%}
      <h2>Reset password</h2>
      {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      <b>{{error_text}}</b>
      <b>{{success_text}}</b>
      <form method="post" style="position: relative;left: 170px;">
        {%csrf_token%}
          New password: <input type="password" name="password1"><br>
            Repeat new password: <input type="password" name="password2"><br>
          <input type="submit" value="Send">
      </form>

{%endblock%}