{%extends 'main/base2.html'%}
{%block content%}
<div class="centerContainer">
<h3>Password reset</h3>
<h4>{{error_text}}</h4>
<form method="post">
    {%csrf_token%}
    Your e-mail:<br> <input type="text" name="email"><br><br>
    Secret code:<br> <input type="text" name="secret_code"><br><br>
    Your new password:<br> <input type="password" name="password"><br><br>
    Repeat your new password:<br> <input type="password" name="password2"><br><br>

    <input type="submit" value="Set new password">
</form>
    </div>
{%endblock%}