{%extends 'main/base.html'%}
{%block content%}
<h3>Edit {{user}}</h3> <h4>{{error_text}}</h4>
<form method="post">
    {%csrf_token%}
    Username: <input type="text" value="{{user}}" name="username"><br><br>
    First name: <input type="text" value="{{user.first_name}}" name="first_name"><br><br>
    Last name: <input type="text" value="{{user.last_name}}" name="last_name"><br><br>
    Password: <input type="password" name="password"><br><br>
    E-mail: <input type="text" value="{{user.email}}" name="email"><br><br>
    Phone number: <input type="text" value="{{user.phone_number}}" name="phone_number"><br><br>
    Address: <input type="text" value="{{user.address}}" name="address"><br><br>
    <input type="submit" value="Save">
</form>
{%endblock%}