{%extends 'main/base.html'%}
{%block content%}
<div class="userPanelContainer">
<h3>User panel</h3><br>
Username: {{user}} <br><br>
First name: {{user.first_name}}<br><br>
Last name: {{user.last_name}}<br><br>
E-mail: {{user.email}}<br><br>

{%if user.phone_number == None%}
Phone number: <br><br>
{%else%}
Phone number: {{user.phone_number}} <br><br>
{%endif%}

{%if user.address == None%}
Address: <br><br>
{%else%}
Address: {{user.address}} <br><br>
{%endif%}

<a href="/users/wallet/{{user.id}}/refill/"><b>Refill wallet</b></a>
<b>|</b>
<a href="/users/wallet/{{user.id}}/withdraw/"><b>Withdraw</b></a> <br><br>
<div class="userPanel_button"><a href="/users/edit/{{user.id}}/">Edit</a></div>
<div class="userPanel_button"><a href="/users/panel/orders/{{user.id}}/">My orders</a></div>
</div>
{%endblock%}