body{
    background-color: rgb(231, 228, 228);
}

#main{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(231, 228, 228);
}

.header{
    width: 1150px;
    background-color: darkgrey;
    text-align: center;
    float: left;
}

.footer{
    position:absolute;
    bottom:0;
    width:1300px;
    height:120px;
    background:#b5fbbd;
    text-align: center;
}

.userManagement{
    float: left;
    background-color: darkgrey;
    width: 150px;
    height: 80px;
}

#leftContainer{
    background-color: White;
    width: 900px;
    float: left;
}


.categories{
    background-color: rgb(231, 228, 228);;
    text-align: center;
    height: 75px;
    padding: 10px;
}

.categoryBox{
    float: left;
    font-size: 25px;
    padding: 30px;
}

.ads{
    background-color: aqua;
    height: 150px;
    text-align: center;
}

.bestSellers{
    height: 250px;
    background-color: rgb(231, 228, 228);
    padding: 5px;
    text-align: center;
}

.bestSellerBox{
    float: left;
    background-color: white;
    width: 222.5px;
    height: 250px;
    margin: 2px;
}

.newProducts{
    height: 150px;
    background-color: rgb(231, 228, 228);
    text-align: center;
    padding: 5px;
}

.newProductBox{
    float: left;
    background-color: white;
    width: 222.5px;
    height: 150px;
    margin: 2px;
}
#rightContainer{
    background-color: rgb(231, 228, 228);
    width: 400px;
    float: left;
}


.search{
    background-color: rgb(231, 228, 228);
}

.categoriesUl{
    background-color: rgb(231, 228, 228);
}