html,body{
  margin:0;
  padding:0;
}

body{
    background-color: white;
}
#backgroundContainer{
    background-color: #EEECDE;
    margin-left: auto;
    margin-right: auto;
    height: 5000px;
    width: 275px;
    position: absolute;
}

#backgroundRightContainer{
    background-color: #EEECDE;
    margin-left: auto;
    margin-right: auto;
    height: 5000px;
    width: 275px;
    position: absolute;
    left: 1630px;
}
#main{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.header{
    width: 1150px;
    background-color: white;
    text-align: center;
    float: left;
    border-radius: 10px;
}

.footer{
    position: absolute;
    bottom: -4100px;
    left: 275px;
    right: 275px;
    height:150px;
    background-color: #EEECDE;
}

.userManagement{
    float: left;
    background-color: white;
    width: 150px;
    height: 80px;
    border-radius: 3px;
    top: 20px;
    position: relative;
}

.userManagementBox{
    padding: 1px;
    float:left;
    border-radius: 5px;
}

#leftContainer{
    background-color: white;
    width: 900px;
    float: left;
    border-radius: 15px;
}


.categories{
    border: 3px;
    border-style: solid;
    border-color: #339967;
    border-radius: 50px;
    background-color: white;
    text-align: center;
    height: 75px;
    padding: -10px;
}

a{
    color: black;
    text-decoration: none;
}

.categoryLink{
    color: #339967;
}

.categoryBox{
    float: left;
    font-size: 20px;
    padding: 25px;
    font-family: "Times New Roman", Times, serif;
}

.ads{
    background-color: white;
    height: 300px;
    text-align: center;
}

.bestSellers{
    height: 250px;
    background-color: white;
    padding: 5px;
    text-align: center;
}

.bestSellerBox{
    float: left;
    background-color: white;
    width: 290px;
    height: 250px;
    margin: 2px;
    border-radius: 15px;
    border: 2px solid #ccc;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.bestsellerImg{
    top: 45px;
    position: relative;
}

.bestSellerInnerBox{
    position: relative;
    top: 55px;
}

.newProductImg{
    top: 45px;
    position: relative;
}

.newProductInnerBox{
    top: 55px;
    position: relative;
}

.newProducts{
    height: 250px;
    background-color: white;
    padding: 5px;
    text-align: center;
}

.newProductBox{
    float: left;
    background-color: white;
    width: 290px;
    height: 250px;
    margin: 2px;
    border-radius: 15px;
    border: 2px solid #ccc;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#rightContainer{
    background-color: white;
    width: 400px;
    float: left;
    left: 5px;
    position: relative;
}

.search{
    position: relative;
    left: 245px;
    background-color: white;
}

.categoriesUl{
    position: relative;
    left: 223px;
    background-color: white;
}

.searchInput{
    width: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../img/search.png');
    background-position: 8px 8px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}