{%extends 'main/base.html'%}
{%load static%}
{%block content%}
<div class="productDetailsBox">
<!--    {%for product in last_viewed_products%}-->
<!--    -{{product}}-->
<!--    {%endfor%}-->
    <div class="productImage">
    {%if product.image%}
        <img src="{{product.image.url}}">
    {%else%}
        <small>This product has no image</small>
    {%endif%}
    </div>
    <div class="productInformationContainer">
    <div class="productInformationBox">
        <span style="font-size: 15px">
            <b><i>{{product.producent_name|upper}}</i></b>
        </span><br>
        <span style="font-size: 30px; font-family:URW Chancery L, cursive;">
            {{product}}
        </span><br><br>
        <span style="position: relative;bottom: 110px ;right: 313px">
            <span style="position: relative; top: 42px">
                {%if product.rating == '1'%}
                <img src="{% static 'products/img/1rating.png'%}">
                {%elif product.rating == '2'%}
                <img src="{% static 'products/img/2rating.png'%}">
                {%elif product.rating == '3'%}
                <img src="{% static 'products/img/3rating.png'%}">
                {%elif product.rating == '4'%}
                <img src="{% static 'products/img/4rating.png'%}">
                {%elif product.rating == '5'%}
                <img src="{% static 'products/img/5rating.png'%}">
                {%endif%}
            </span>
        </span>
        <div class="productDescriptionBox">

            {{product.description}}
        </div>
        <br><br><br><br>
        </div>
<div class="productShoppingDetails">
    <span style="font-size: 25px">${{product.price}}</span><br><br>
    </div>
        </div>
<!--    {%if last_viewed_product_id%}-->
<!--    <a href="/product/{{last_viewed_product_id}}/">You recently viewed <b>this</b> product</a>-->
<!--    {%endif%}-->
    <span style="position: absolute; top: 400px; left: 405px">
        {%if user.is_authenticated%}
        <div class="addToCartBox">
<form method="post">
{%csrf_token%}
<input class="addToCart" id="add-to-cart-button" type="submit" value="Add to cart">
    <input style="width: 25px" type="number" name="quantity" value="1">
</form><br><br>
            </div>
    <b>{{success_text}}</b><br>
{%else%}
<span style="font-size: 16px"><a href="/users/login/"><b>Log in</b> to add this product to cart</a></span>
{%endif%}
    </span>
    {%if cleared_last_viewed_products%}
    <div class="viewedRecentlyContainer">
        <h4 style="position: relative; left: 15px;"><i>Products you viewed recently</i></h4>
        {%for viewed_recently_product in cleared_last_viewed_products%}
        {%if viewed_recently_product == product%}
        {{null}}
        {%else%}
        <a href="/product/{{viewed_recently_product.id}}/">
        <div class="viewedRecentlyBox">
            <img class="bestsellerImg" height="150px" src="{{viewed_recently_product.image.url}}">
            <div class="addedRecentlyInnerBox">{{viewed_recently_product}}</div>
        </div>
        </a>
        {%endif%}
        {%endfor%}
    </div>
    {%endif%}
    </div>
{%endblock%}