{%extends 'main/base2.html'%}
{%block content%}
{%load static%}
<div class="productDetailsBox">
    <b>{{success_text}}</b><br>
    <img src="{{product.image.url}}">
    <div class="productInformationBox">
        <span style="font-size: 30px"><b><i>{{product.producent_name|upper}}</i></b></span><br><br>
        <span style="font-size: 50px"> {{product}}</span><br><br>
        <div class="productDescriptionBox">
            {{product.description}}
        </div>
        <span style="position: relative; top: 180px; right: 290px">
            <span style="position: relative; top: 55px">
                {%if product.rating == '1'%}
                <img src="{% static 'products/img/1rating.png'%}">
                {%elif product.rating == '2'%}
                <img src="{% static 'products/img/2rating.png'%}">
                {%elif product.rating == '3'%}
                <img src="{% static 'products/img/3rating.png'%}">
                {%elif product.rating == '4'%}
                <img src="{% static 'products/img/4rating.png'%}">
                {%elif product.rating == '5'%}
                <img src="{% static 'products/img/5rating.png'%}">
                {%endif%}
            </span>
        </span>
        <br><br><br><br>
<div class="productShoppingDetails">
    <span style="font-size: 30px">Price: {{product.price}}$</span><br>
{%if user.is_authenticated%}
<form method="post">
{%csrf_token%}
<input type="submit" value="Add to cart">
    <input style="width: 25px" type="number" name="quantity" value="1"><br>
    <input type="hidden" value="{{user.id}}" name="user_id">
</form><br>
{%else%}
<a href="/users/login/">Login to add this product to cart</a>
{%endif%}
    </div>
        </div>
<!--    {%if last_viewed_product_id%}-->
<!--    <a href="/product/{{last_viewed_product_id}}/">You recently viewed <b>this</b> product</a>-->
<!--    {%endif%}-->
    </div>
{%endblock%}