{%extends 'main/base.html'%}
{%block content%}
    <div class="centerContainer">
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
<h3>Login</h3>
<form method="post">
    {%csrf_token%}
<p>
    Username:<br> <input type="text" name="username"> <br><br>
    Password:<br> <input type="password" name="password"> <br><br>
    <input type="submit" value="Login">
</p>
</form>
{{error_text}}<br><a href="/users/password_reset/">Forgot your password?</a><br>
<a href="/users/register/">Don't have an account yet?</a>
    </div>
{%endblock%}