{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" href="{% static 'main/css/basestylesheet.css' %}">
</head>
<body>
<div id="main">
    <div id="user_banner">
    {%if user.is_authenticated%}
    <i>Logged in as {{user}}</i>
    <a href="/users/logout/">Logout</a>
    {%else%}
    <i>You're not logged in</i>
    <a href="/users/register/">Register/Login</a>
    {%endif%}
    </div>
    <div class="header">
        <h1><a href="/">Music store</a></h1>
    </div>

    <div class="userManagement">
        <div class="userManagementBox"><a href="/">Home</a></div>
{%if user.is_authenticated%}
<div class="userManagementBox"><a href="/users/panel/{{user.id}}/">User</a></div>
    {%else%}
<div class="userManagementBox"><a href="/users/register/">User</a></div>
    {%endif%}

        <div class="userManagementBox"><a href="/contact/">Contact</a></div>
        {%if user.is_authenticated%}
        <div class="userManagementBox"><a href="/shopping_cart/{{user.id}}/">Shopping Cart</a>
            {%if shopping_cart_list|length is not 0%}
            <span style="color: darkolivegreen">{{shopping_cart_list|length}}</span>
            {%endif%}</div>
        {%else%}
        <div class="userManagementBox"><a href="/users/login/">Shopping Cart</a></div>
        {%endif%}

    </div>

    <div id="leftContainer">
        <div class="categories">
            <div class="categoryBox"><a href="/category/{{stringed_instruments.id}}">{{stringed_instruments}}</a></div>
            <div class="categoryBox"><a href="/category/{{keyboard_instruments.id}}">{{keyboard_instruments}}</a></div>
            <div class="categoryBox"><a href="/category/{{drums.id}}">{{drums}}</a></div>
            <div class="categoryBox"><a href="/category/{{sound_system.id}}">{{sound_system}}</a></div>
        </div>
{%block content%}

        <div class="bestSellers">
            {%for bestseller in bestsellers%}
            <div class="bestSellerBox"><a href="product/{{bestseller.id}}/">{{bestseller}}</a></div>
            {%endfor%}
        </div>

        <div class="newProducts">

            {%for product in added_recently%}
            <div class="newProductBox"><a href="product/{{product.id}}/">{{product}}</a></div>
            {%endfor%}


        </div>

    </div>

    <div id="rightContainer">

        <div class="search">
            <form method="post">
                {%csrf_token%}
                Search here: <input type="text" name="key_word"><input type="submit" value="Search">
            </form>
        </div>

        <div class="categoriesUl">

            <ul>
                {%for category in all_categories%}
                <li><a href="/subcategory/{{category.id}}">{{category}}</a></li>
                {%endfor%}
            </ul>

        </div>

    </div>
{%endblock%}
</div>
</body>
</html>