{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Store</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">
</head>
<body>
<div id="backgroundLeftContainer">  </div>
<div id="main">
    <div class="header">
        <h1><a href="/"><img width="860px" src="{% static 'main/img/logo2b.png'%}"></a></h1>
    </div>

    <div class="userManagement">
        <div class="userManagementBox"><a href="/"><img style="width: 24px; height: 24px" src="{% static 'main/img/home2.png'%}"></a></div>
{%if user.is_authenticated%}
<div class="userManagementBox"><a href="/users/panel/{{user.id}}/"><img style="width: 24px; height: 24px" src="{% static 'main/img/user2.png'%}"></a></div>
    {%else%}
<div class="userManagementBox"><a href="/users/register/"><img style="width: 24px; height: 24px" src="{% static 'main/img/user2.png'%}"></a></div>
    {%endif%}

        <div class="userManagementBox"><a href="/complaint/"><img style="width: 24px; height: 26px" src="{% static 'main/img/email2.png'%}"></a></div>
        {%if user.is_authenticated%}
        <div class="userManagementBox"><a href="/shopping_cart/{{user.id}}/"><img style="width: 24px; height: 23px" src="{% static 'main/img/shopping-cart2.png'%}"></a>
            {%if shopping_cart_list|length is not 0%}
            <span style="color: darkolivegreen">{{shopping_cart_list|length}}</span>
            {%endif%}</div><br><br><br>
        {%else%}
        <div class="userManagementBox"><a href="/users/login/"><img style="width: 24px; height: 23px" src="{% static 'main/img/shopping-cart2.png'%}"> </a></div><br><br><br>
        {%endif%}

<div id="user_banner">
    {%if user.is_authenticated%}
    <i style="color: #403e3e;">Logged in as {{user}}{{welcome_text}}</i>
    <a style="color: #403e3e;" href="/users/logout/">Logout</a>
    {%else%}
    <span style="color: #403e3e;">
        <i>You're not logged in</i>
        </span>
        <a style="color: #403e3e;" href="/users/register/">Register/Login</a>
    {%endif%}
    </div>
    </div>

    <div id="leftContainer">
        <div class="categories">
            {%for category in all_categories%}
            <div class="categoryBox"><a class="categoryLink" href="/category/{{category.id}}">{{category}}</a></div>
            {%endfor%}
        </div>
        {%if product or registration%}
        <div style="display: none" class="search">
            <form method="post">
                {%csrf_token%}
                <input class="searchInput" placeholder="Search..." type="text" name="key_word">
            </form>
        </div>
        {%else%}
        <div class="search">
            <form method="post">
                {%csrf_token%}
                <input class="searchInput" placeholder="Search..." type="text" name="key_word">
            </form>
        </div>
        {%endif%}
      <div class="detailsContainer">

        {%block content%}

        {%endblock%}

      </div>
  </div>
    <div id="rightContainer">
<!--        {%if product%}-->
<!--        <div style="display: none" class="search">-->
<!--            <form method="post">-->
<!--                {%csrf_token%}-->
<!--                <input class="searchInput" placeholder="Search..." type="text" name="key_word">-->
<!--            </form>-->
<!--        </div>-->
<!--        {%else%}-->
<!--        <div class="search">-->
<!--            <form method="post">-->
<!--                {%csrf_token%}-->
<!--                <input class="searchInput" placeholder="Search..." type="text" name="key_word">-->
<!--            </form>-->
<!--        </div>-->
<!--        {%endif%}-->
        </div>

    </div>
</div>
    <div class="productAds">
        <div class="productAdsImg"><a href="/product/14/"><img width="250" height="210" src="{%static 'main/img/pacificaad.png'%}"></a></div><br>
        <div class="productAdsImg"><a href="/product/1/"><img width="250" height="210"  src="{%static 'main/img/launchkeyminiad.png'%}"></a></div><br>
        <div class="productAdsImg"><a href="/product/12/"><img width="250" height="210"  src="{%static 'main/img/roadshowad.png'%}"></a></div>

    </div>
</div>
<div id="backgroundRightContainer"></div>
<div class="footer">
    <div class="footerHeader">
        <img src="{%static 'main/img/storefooter.png'%}">
        <div class="footerInfoBox" style="padding-left: 10px">
            805 Sound Avenue<br>
            75220, Dallas<br>
            United States<br>
            musicstore@contact.com<br>
            +1-900-920-0700

        </div>
    </div>
    <div class="footerBox">
        <img src="{%static 'main/img/aboutfooter.png'%}">
        <div class="footerInfoBox">
            <a class="footerLink" href="">Contact</a><br>
            <a class="footerLink" href="">Our company</a><br>
            <a class="footerLink" href="">Privacy Policy</a><br>
            <a class="footerLink" href="">Terms of Use</a><br>
        </div>
    </div>
    <div id="contact" class="footerBox">
        <img src="{%static 'main/img/supportfooter2.png'%}">
        <div class="footerInfoBox">
            <a class="footerLink" href="">Help</a><br>
            <a class="footerLink" href="">Shipping</a><br>
            <a class="footerLink" href="">Returns</a><br>
            <a class="footerLink" href="">Payments</a><br>
            <a class="footerLink" href="/newsletter/">Newsletter</a><br>
        </div>
    </div>
    <div class="footerBox">
        <img src="{%static 'main/img/myaccfooter.png'%}">
        <div class="footerInfoBox">
            {%if user.is_authenticated%}
            <a class="footerLink" href="/users/panel/{{user.id}}/">My profile</a><br>
            <a class="footerLink" href="/users/panel/orders/{{user.id}}/">Order status</a>
            {%else%}
            <a class="footerLink" href="/users/login/">My profile</a><br>
            <a class="footerLink" href="/users/login/">Order status</a>
            {%endif%}
        </div>
    </div>
</div>
</body>
</html>