{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" href="{% static 'main/css/basestylesheet.css' %}">
</head>
<body>
<div id="main">
    <div class="header">
        <h1>Name</h1>
    </div>

    <div class="userManagement">

        User buttons

    </div>

    <div id="leftContainer">

        <div class="categories">Categories</div>
{%block content%}
        <div class="ads">Ads</div>

        <div class="bestSellers">

            <div class="bestSellerBox">bestseller1</div>
            <div class="bestSellerBox">bestseller2</div>
            <div class="bestSellerBox">bestseller3</div>
            <div class="bestSellerBox">bestseller4</div>

        </div>

        <div class="newProducts">

            <div class="newProductBox">newproduct1</div>
            <div class="newProductBox">newproduct2</div>
            <div class="newProductBox">newproduct3</div>
            <div class="newProductBox">newproduct4</div>


        </div>

    </div>

    <div id="rightContainer">

        <div class="search">Search</div>

        <div class="categoriesUl">

            <ul>
                <li>Category 1</li>
                <li>Category 2</li>
                <li>Category 3</li>
                <li>Category 4</li>
                <li>Category 5</li>

            </ul>

        </div>

    </div>
{%endblock%}
<div class="footer">footer</div>

</div>
</body>
</html>