{%extends 'main/base.html'%}
{%block content%}
<div class="detailsBox">
<h3>{{category.name}}</h3>
{%for subcategory in subcategories%}
    <div class="borderBox">
                <a href="/subcategory/{{subcategory.id}}/">
                    <img class="borderImg" height="150px" src="{{subcategory.image.url}}">
                </a>
                <div class="borderInnerBox">
                <a href="/subcategory/{{subcategory.id}}/"><b>{{subcategory}}</b></a>
                </div>
            </div>

{%endfor%}
</div>
{%endblock%}