{%extends 'main/base2.html'%}
{%block content%}
<div class="detailsBox">
<h3>{{parent_category.category}}</h3>
{%for subcategory in subcategories%}
    <div class="subCategoryBox">
                <a href="/subcategory/{{subcategory.id}}/">
                    <img class="subCategoryImg" height="150px" src="{{subcategory.image.url}}">
                </a>
                <div class="subCategoryInnerBox">
                <a href="/subcategory/{{subcategory.id}}/"><b>{{subcategory}}</b></a>
                </div>
            </div>

{%endfor%}
</div>
{%endblock%}