{%extends 'main/base.html'%}
{%block content%}
<div class="detailsBox">
    <div class="centerContainer">
<h4>Write a complaint</h4>
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li>{{ message | safe }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    <form method="post">
        {%csrf_token%}
        Subject:<br> <input name="subject" type="text"><br><br>
        <label for="complaint">Complaint:<br> </label>
        <textarea id="complaint" name="content"></textarea><br><br>
        <input type="submit" value="Send">
    </form><br>
{{success_text}}
{{error_text}}
        </div>
</div>
{%endblock%}