{%extends 'main/base.html'%}
{%block content%}
<div class="centerContainer">
            {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li>{{ message | safe }}</li>
        {% endfor %}
        </ul>
        {% endif %}
<h4>Join to our newsletter</h4>
    <form method="post">
        {%csrf_token%}
        Your email: <input name="email" type="text" value="{{user.email}}"><br><br>
        <input type="submit" value="Send">
    </form>
{{success_text}}
{{error_text}}
</div>
{%endblock%}