{%extends 'main/base.html'%}
{%block content%}
<div style="text-align: center"  class="CartContainer">
<div class="cartHeader">
<h3 class="Heading">Shopping cart</h3>
        </div>
{%if shopping_cart_list|length is 1%}
<h4>You are about to buy this product: </h4>
{%else%}
<h4>You are about to buy these products: </h4>
{%endif%}
<ul>
    {%for product in shopping_cart_list%}
    <li>{{product.product}} <b>{{product.product.price}}$</b> {{product.quantity}}x</li>
    {%endfor%}
</ul>

Shipping type: <b>{{order.get_shipping_type_display}}{%if order.shipping_type == 2%}(+15$){%endif%}</b><br><br>
Address: <b>{{order.address}}</b><br><br>
Phone number: <b>{{order.phone_number}}</b><br><br>
Payment type: <b>{{order.get_payment_type_display}}</b><br><br>
    {%if order.discount_code%}
Discount code: <b>{{order.discount_code.name}}</b><br><br>
    {%endif%}
Summary: <b>{{products_summary}}$</b><br><br>
<form method="post">
    {%csrf_token%}
    <input type="submit" value="Finish order & buy">
    <input type="hidden" value="{{products_summary}}" name="amount_paid">
</form>
{{error_text}}
<br>
</div>
{%endblock%}