{%extends 'main/base2.html'%}
{%block content%}
<div class="shoppingCartContainer">
    <div class="cartHeader">
        <h3 class="Heading">Shopping cart</h3>
        {%if shopping_cart_list|length is not 0%}
        <form method="post">
    {%csrf_token%}
    <input style="position: relative; left: 15px" class="Action input_decoration" type="submit" value="Remove all">
</form>
    </div>
<ul>
    {%for product in shopping_cart_list%}
    <li>{{product.product}} <b>{{product.product.price}}$</b> {{product.quantity}}x <b><a class="Action" href="/shopping_cart/remove/{{user.id}}/{{product.product.id}}/">Remove</a> </b></li>
    {%endfor%}
</ul>

Summary: <b>{{products_summary}}$</b><br><br>
<a href="checkout/">Proceed to checkout</a>
{%else%}
<a href="/"><b>Add products to your cart!</b></a>
{%endif%}
    </div>
{%endblock%}