{%extends 'main/base2.html'%}
{%block content%}
<div class="detailsBox">
<h3>{{parent_category.subcategory}}</h3>

    {%for product in products%}
    <div class="borderBox">
    <a href="/product/{{product.id}}/">
                    <img class="borderImg" height="150px" src="{{product.image.url}}">
                </a>
                <div class="borderInnerBox">
                <a href="/product/{{product.id}}/"><b>{{product}}</b></a>
                </div>
    </div>
    {%endfor%}

</div>
{%endblock%}